<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dagama>
      <sitemap>
        <configurationProvider type="Dagama.Sitemap.Configuration.DefaultConfigurationProvider, Dagama.Sitemap"/>
      </sitemap>
    </dagama>
    <events timingLevel="custom">
      <event name="publish:end">
        <handler type="Dagama.Sitemap.PublishHandler, Dagama.Sitemap" method="Execute" />
      </event>
    </events>
  </sitecore>
</configuration>